body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
#pre-dom .custom-color {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #f5804e);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size:30px;
    margin-left:400px;
    font-weight: 600;
}
#pre-dom .nav-theme-color a {
    color:#f5804e;
    font-size:15px;
    text-align: right;
}
#pre-dom #home h1 {
    font-size:80px;
    text-align: center;
    background-color: #f3ec78;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #f3ec78, 
        #f5804e
        );
    transition: ease 1000ms;
    font-weight: 600;
    line-height: 0;
}
#pre-dom #home h1:hover {
    background-image: linear-gradient(
        to right,
        #f6d670, 
        #f5684c
        );
    font-size:85px;
    font-weight:700;
}
#pre-dom #home p {
    color: #f5804e;
    text-align: center;
    padding: 0 20px 0 20px;
    font-weight: 600;
}
#pre-dom #home {
    margin-top:200px;
    position: relative;
    border-radius: 20px;
    border-style: solid;
    border-color: #f5804e;
    padding-left:0px;
    width:50%;
    left:25%;
    height:10%;
    padding-top: 10px;
}
#pre-dom #home span img {
    width:300px;
    margin-bottom:20px;
    margin-left:20px;
}
#pre-dom #services {
    margin-top:200px;
}
#pre-dom #services .header-services {
    text-align: center;
    position: relative;
    background-image: linear-gradient(
        to right,
        #f3ec78, 
        #f5804e
        );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    width:40%;
    left:30%;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size:70px;
    font-weight: 700;
    margin-top:200px;
    transition: ease-out 500ms;
}
#pre-dom #services .header-services:hover {
    font-size:75px;
    font-weight: 800;
}
#pre-dom #services .header-services:before {
    content:" ";
    height: 2px;
    width: 130px;
    background: #f3672c;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
#pre-dom #services .header-services:after {
    content:" ";
    height: 2px;
    width: 130px;
    background: #f3672c;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
#pre-dom .service-list {
    margin-top:100px;
    text-align: center;
    display: flex;
}
#pre-dom .service-list p {
    padding: 0px 100px 0px 100px;
    font-size:18px;
    color:#dedede;
    font-weight:600;
}
#pre-dom .firstservice-order {
    border-style:solid;
    border-width:3px;
    border-radius:20px;
    padding: 15px 0px 15px 0px;
    margin-right: 100px;
    height:700px;
}
#pre-dom .secondservice-order {
    border-style:solid;
    border-width:3px;
    border-radius:20px;
    padding: 15px 0px 15px 0px;
    margin-right: 100px;
}
#pre-dom .thirdservice-order {
    border-style:solid;
    border-width:3px;
    border-radius:20px;
    padding: 15px 0px 15px 0px;
}
#pre-dom .navthick-weight {
    font-weight: 400;
}
#pre-dom footer {
    margin-top:150px;
    color:#dedede;
    text-align: center;
}
#pre-dom footer h6, span {
    font-size:25px;
    margin-bottom:50px;
}
#pre-dom footer span {
    margin-left:40px;
}
#pre-dom footer a {
    text-decoration: none;
    color:#dedede;
    transition: ease 600ms;
}
#pre-dom footer span a:hover {
    text-decoration: none;
    color:#ececec;
    font-size:27px;
}
#pre-dom footer h6 a:hover {
    text-decoration: none;
    color:#ececec;
    font-size:27px;
}
#pre-dom .contact-href {
    background-image: linear-gradient(
        to right,
        #f3ec78, 
        #f5804e
        );
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color:#2a2a2a !important;
    font-weight:650;
    margin-right: 400px;
    transition: ease 600ms;
}
#pre-dom .contact-href:hover {
    color:white !important;
}
#pre-dom footer .weight-text {
    font-weight:500;
}
#pre-dom .primary-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 104, 76)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}